<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portfolio</title>
    <link rel="stylesheet" href="{% static 'main/css/style.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Cormorant+Garamond&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <h1>Aquesha A. Addison</h1>
        <nav>
            <ul>
                <li><a href="/">About Me/Bio</a></li>
                <li><a href="/certifications">Certifications in Progress</a></li>
                <li><a href="/dashboards">Dashboards</a></li>
                <li><a href="/papers">Papers</a></li>
                <li><a href="/coding">Coding</a></li>
                <li><a href="/additional-info">Additional Information</a></li>
            </ul>
        </nav>
    </header>
    <main>
        {% block content %}{% endblock %}
    </main>
        <footer>
            <div class="social-media">
                <a href="https://www.linkedin.com/in/your-linkedin-profile">LinkedIn</a>
                <a href="https://github.com/AAA-pyqueen">GitHub</a>
            </div>
        </footer>
</body>
</html>
